@model IEnumerable<Book>

<div class="d-flex flex-row">
    <div class="d-flex flex-column">
        <div id="book-list">
            @foreach (var content in Model)
            {
                <a asp-controller="BookDetails" asp-action="Index" asp-route-bookId="@content.Id" class="text-decoration-none text-dark">
                    <div class="d-flex flex-row bg-white book-item mb-4" data-book-id="@content.Id">
                        <div class="d-flex flex-column m-3">
                            <img src="https://via.placeholder.com/100x150.png?text=Book+Cover" alt="Book Cover">
                        </div>
                        <div class="d-flex flex-column m-3">
                            <h2 class="">
                                @content.Title
                            </h2>
                            <p>
                                @content.Author.Name
                                @content.Author.Surname
                            </p>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>

