@model IEnumerable<Book>

<div class="row">
    @foreach (var content in Model)
    {
        <div class="col-md-4">
            <a asp-controller="BookDetails" asp-action="Index" asp-route-bookId="@content.Id" class="text-decoration-none text-dark">
                <div class="card mb-4" style="width: 100%;">
                    <div class="d-flex flex-row">
                        <img class="card-img-top rounded-3" src="@Url.Content(content.CoverBookImg)" alt="Book Cover" style="max-width: 200px; max-height: 250px;" />
                        <div class="card-body d-flex flex-column ml-3 ps-4 rounded-3" style="background-color: #ffffff;">
                            <h5 class="card-title">@content.Title</h5>
                            <p class="card-text">@content.Author.Name @content.Author.Surname</p>
                            <div>
                                @for (int i = 0; i < 5; i++)
                                {
                                    if (i < content.Rating)
                                    {
                                        <i class="bi bi-star-fill"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-star"></i>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
