@model Tuple<IEnumerable<Category>, IEnumerable<Book>>

<div class="px-2 pt-5 bg-white">
    <div class="row">
        <div class="col-md-3 d-none d-md-block">
            <div class="sticky-top">
                <partial name="_CategoriesPartial" model="Model.Item1" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-8 mt-3 pt-4">
                    <form asp-controller="Books" asp-action="Index" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" name="searchString" placeholder="Search any Book"/>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 mt-3">
                    <label for="sortOrder">Sorting</label>
                    <select id="sortOrder" name="sortOrder" class="form-select">
                        <option value="Title A-Z" selected="@((string)ViewBag.sortOrder == "Title A-Z" ? "selected" : null)">Title A-Z</option>
                        <option value="Title Z-A" selected="@((string)ViewBag.sortOrder == "Title Z-A" ? "selected" : null)">Title Z-A</option>
                        <option value="Author A-Z" selected="@((string)ViewBag.sortOrder == "Author A-Z" ? "selected" : null)">Author A-Z</option>
                        <option value="Author Z-A" selected="@((string)ViewBag.sortOrder == "Author Z-A" ? "selected" : null)">Author Z-A</option>
                        <option value="Release Date" selected="@((string)ViewBag.sortOrder == "Release Date" ? "selected" : null)">Release Date</option>
                        <option value="Oldest" selected="@((string)ViewBag.sortOrder == "Oldest" ? "selected" : null)">Oldest</option>
                    </select>
                </div>
            </div>
            <div class="container-fluid bg-color pt-5 pb-5" id="book-list">
                <partial name="_BooksByCategoryPartial" model="Model.Item2" />
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#sortOrder').change(function () {
            var url = '/Books/Index?categoryId=@ViewBag.categoryId&sortOrder=' + this.value;
            $.get(url, function (data) {
                $('#book-list').html(data);
            });
        });
    });
</script>
