@model Tuple<IEnumerable<Category>, IEnumerable<Book>>

<div class="d-flex flex-row w-100 h-100 m-3 p-3">
    <div class="d-flex flex-column me-5 pe-5">
        <partial name="_CategoriesPartial" , model="Model.Item1" />
    </div>
    <div class="d-flex flex-column">
        <h3>
            @if (ViewBag.CategoryId != null)
            {
                <span>Selected Category: @Model.Item1.FirstOrDefault(c => c.Id == ViewBag.CategoryId)?.Name</span>
            }
        </h3>
        <h2>Content List</h2>
        <div class="d-flex flex-column ms-4 pb-4">
            <label for="sortOrder">Sorting</label>
            <select id="sortOrder" name="sortOrder">
                <option value="Title A-Z" selected="@((string)ViewBag.sortOrder == "Title A-Z" ? "selected" : null)">Title A-Z</option>
                <option value="Title Z-A" selected="@((string)ViewBag.sortOrder == "Title Z-A" ? "selected" : null)">Title Z-A</option>
                <option value="Author A-Z" selected="@((string)ViewBag.sortOrder == "Author A-Z" ? "selected" : null)">Author A-Z</option>
                <option value="Author Z-A" selected="@((string)ViewBag.sortOrder == "Author Z-A" ? "selected" : null)">Author Z-A</option>
                <option value="Release Date" selected="@((string)ViewBag.sortOrder == "Release Date" ? "selected" : null)">Release Date</option>
                <option value="Oldest" selected="@((string)ViewBag.sortOrder == "Oldest" ? "selected" : null)">Oldest</option>
            </select>
        </div>
        <partial name="_BooksByCategoryPartial" , model="Model.Item2" />
    </div>
</div>

<script>
    $(function () {
        $('#sortOrder').change(function () {
            var url = '/Books/Index?categoryId=@ViewBag.categoryId&sortOrder=' + this.value;
            $.get(url, function (data) {
                $('#book-list').html(data);
            });
        });
    });
</script>
