@model Tuple<IEnumerable<Category>, IEnumerable<Book>>

<div class="h-100 px-2 bg-white">
    <div class="d-flex flex-row h-100">
        <div class="col-md-3 w-auto me-5">
            <div class="sticky-top">
                <partial name="_CategoriesPartial" , model="Model.Item1" />
            </div>
        </div>
        <div class="pt-3 w-100">
            <div class="d-flex flex-row justify-content-between">
                <div class="mt-3 inputs">
                    <form asp-controller="Books" asp-action="Index" method="get">
                        <div class="input-group w-100">
                            <input type="text" class="form-control" name="searchString" placeholder="Search any Book"/>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
                </div>
                <div class="d-flex flex-column col-md-auto me-4 pb-4">
                    <label for="sortOrder">Sorting</label>
                    <select id="sortOrder" name="sortOrder">
                        <option value="Title A-Z" selected="@((string)ViewBag.sortOrder == "Title A-Z" ? "selected" : null)">Title A-Z</option>
                        <option value="Title Z-A" selected="@((string)ViewBag.sortOrder == "Title Z-A" ? "selected" : null)">Title Z-A</option>
                        <option value="Author A-Z" selected="@((string)ViewBag.sortOrder == "Author A-Z" ? "selected" : null)">Author A-Z</option>
                        <option value="Author Z-A" selected="@((string)ViewBag.sortOrder == "Author Z-A" ? "selected" : null)">Author Z-A</option>
                        <option value="Release Date" selected="@((string)ViewBag.sortOrder == "Release Date" ? "selected" : null)">Release Date</option>
                        <option value="Oldest" selected="@((string)ViewBag.sortOrder == "Oldest" ? "selected" : null)">Oldest</option>
                    </select>
                </div>
            </div>
            <div class="d-flex container-fluid bg-color pt-5 pb-5 px-4" id="book-list">
                <partial name="_BooksByCategoryPartial" , model="Model.Item2" />
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#sortOrder').change(function () {
            var url = '/Books/Index?categoryId=@ViewBag.categoryId&sortOrder=' + this.value;
            $.get(url, function (data) {
                $('#book-list').html(data);
            });
        });
    });
</script>
