@model BookWeb.ViewModels.BookDetailsViewModel

<div class="container">
    <div class="d-flex flex-row">
        <div class="d-flex flex-column">
            <img class="mw-100 h-auto p-5" src="@Url.Content(@Model.book.CoverBookImg)" alt="Book Cover">
        </div>
        <div class="d-flex flex-column bg-white m-5 p-3 rounded-3">
            <div class="d-flex flex-row">
                <h1>@Model.book.Title</h1>
            </div>
            <div class="d-flex flex-row">
                <div class="d-flex flex-column p-3">
                    <h3>@Model.author.Name @Model.author.Surname</h3>
                    <p>Published on: @Model.book.ReleaseDate.ToShortDateString()</p>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="d-flex flex-column p-3">
                    <p>Category:</p>
                    <h4>@Model.category.Name</h4>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column bg-white m-5 p-3 rounded-3">
            <div>
                <p>Average Rating</p>
            </div>
            <div>
                @for (int i = 0; i < 5; i++)
                {
                    if (i < Model.book.Rating)
                    {
                        <i class="bi bi-star-fill display-6"></i>
                    }
                    else
                    {
                        <i class="bi bi-star display-6"></i>
                    }
                }
            </div>
            <div class="pt-4">
                <p>Rate the book</p>
                <div id="stars">
                    @for (int i = 1; i <= 5; i++)
                    {
                        <span class="bi bi-star stars @if (i <= Model.bookRating.RateValue) {
                                <text>filled-stars</text>
                            }" id="@i" bid="@Model.book.Id"></span>
                    }
                </div>
                <input type="hidden" id="bookId" value="@Model.book.Id" />
            </div>
            <div class="pt-4">
                <form method="post" action="@Url.Action("AddToFavorite", "BookDetails")">
                    <input type="hidden" name="bookId" value="@Model.book.Id" />
                    <button type="submit">Add to favorites</button>
                </form>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div>
            <h2>Description:</h2>
        </div>
        <div>
            <p>@Model.book.Description</p>
        </div>
    </div>
</div>

<style>
    .stars {
        cursor: pointer;
        font-size: 40px;
    }

    .filled-stars {
        color: gold;
    }

    .highlighted {
        color: gold;
    }
</style>

<script>
    $(document).ready(function () {
        var stars = $("#stars").children(".bi-star");
        stars.click(function () {
            var count = $(this).prevAll().length + 1;
            $("#stars-count").text(count);
            stars.removeClass("filled-stars");
            $(this).prevAll().addBack().addClass("filled-stars");
            var url = "/BookDetails/PostRating"; // zmieniono kontroler
            var data = { rating: parseInt($(this).attr("id")), bid: parseInt($(this).attr("bid")) };
            $.post(url, data, function (result) {
                alert(result);
            });
        });
        stars.mouseover(function () {
            $(this).addClass("highlighted");
            $(this).prevAll().addClass("highlighted");
        });
        stars.mouseout(function () {
            $(this).removeClass("highlighted");
            $(this).prevAll().removeClass("highlighted");
        });
    });
</script>